-- Configuração mínima do LunarVim
lvim.log.level = "warn"
lvim.format_on_save = true
lvim.colorscheme = "catppuccin"
lvim.leader = ","

-- Plugins extras
lvim.plugins = {
  { "tpope/vim-surround" },
}