# mise.toml — base global
[settings]
experimental = true
cargo.binstall = true
npm.bun = true   # usa bun no lugar do npm se estiver no PATH
pipx.uvx = true  # usa uvx no lugar do pipx se uv estiver no PATH
log_level = "error"  #provisorio por conta do gcloud que usa .tool-versions

[alias.tool]
usage = "https://github.com/jdx/mise-usage"

[tools]
# Linguagens / runtimes
usage = "latest"
node = "lts"
python = "3.12"
go = "latest"
java = "openjdk-21"
rust = "latest"

# Ecossistema py/node/rust
"github:astral-sh/uv" = "latest"      # uv (rápido p/ Python)
pnpm = "latest"
yarn = "latest"
bun = "latest"
cargo-binstall = "latest"  # instala o binário "cargo-binstall"


# Cloud / IaC
terraform = "1.9"
awscli = "2"
gh = "latest"
gcloud = "latest"

# Terminal / produtividade (via releases do GitHub p/ máxima cobertura)
"github:atuinsh/atuin" = "latest"
"github:jesseduffield/lazygit"      = "latest"  # lazygit
neovim = "0.10"

[env]
PIP_DISABLE_PIP_VERSION_CHECK = "1"
