#!/bin/bash
set -e

echo "[+] Instalando asdf..."

if [[ "$OSTYPE" == "darwin"* ]]; then
  brew install asdf
else
  ASDF_VERSION=$(git ls-remote --tags --refs --sort="v:refname" https://github.com/asdf-vm/asdf.git | tail -n1 | sed 's/.*\///')
  git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch "$ASDF_VERSION"
fi

if ! command -v asdf &>/dev/null && [ -f "$HOME/.asdf/asdf.sh" ]; then
  source "$HOME/.asdf/asdf.sh"
fi

echo "[+] Instalando plugin nodejs..."
asdf plugin add nodejs https://github.com/asdf-vm/asdf-nodejs.git || true
bash ~/.asdf/plugins/nodejs/bin/import-release-team-keyring
asdf install nodejs latest
asdf global nodejs latest

echo "[+] Instalando plugin python..."
asdf plugin add python https://github.com/danhper/asdf-python.git || true
asdf install python latest
asdf global python latest

echo "[+] Instalando plugin golang..."
asdf plugin add golang https://github.com/asdf-community/asdf-golang.git || true
asdf install golang latest
asdf global golang latest

echo "[✔] asdf, Node.js, Go e Python prontos!"
