#!/bin/bash
set -e

echo "[+] Instalando tmux e zellij..."

if [[ "$OSTYPE" == "darwin"* ]]; then
  brew install tmux zellij
else
  sudo apt install -y tmux
  mise exec -- cargo binstall -y zellij --locked 
fi
