#!/bin/bash
set -e

echo "[+] Instalando pacotes CLI básicos..."

if [[ "$OSTYPE" == "darwin"* ]]; then
  
  echo "[+] Instalando dependencias via xcode..."
  xcode-select --install
  
  echo "[+] Instalando Homebrew via curl..."
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  
  echo "[+] Instalando via Homebrew..."
  brew install autoconf automake gcc git gnupg ncurses tree unzip
  brew install eza

elif [[ "$OSTYPE" == "linux-gnu"* ]]; then
  echo "[+] Instalando via APT..."
  sudo apt update -y
  sudo apt-get install -y \
    apt-transport-https autotools-dev autoconf automake \ 
    build-essential curl git gnupg ca-certificates \
    libssl-dev zlib1g-dev libbz2-dev libreadline-dev libsqlite3-dev \
    libffi-dev libncurses5-dev libncursesw5-dev xz-utils tk-dev uuid-dev tree
  
fi

echo "[✔] Pacotes CLI básicos instalados com sucesso!"
